<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Buy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.buy_in %></td>
        <td><%= link_to 'Show', organization_game_path(@organization, game) %></td>
        <td><%= link_to 'Edit', edit_organization_game_path(@organization, game) %></td>
        <td><%= link_to 'Destroy', [@organization, game], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_organization_game_path %>
