<p id="notice"><%= notice %></p>

<% if @game.is_closed %>
<p>
  <strong>This game has closed</strong>
</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Buy in:</strong>
  <%= @game.buy_in %>
</p>

<p>
  <strong>Players:</strong>
  <% @game.players.each do |player| %>
    <%= player.member.user.screen_name %>
  <% end %>
</p>

<p>
  <strong>Game timeline:</strong>
  <ul>
    <% @game.statuses.each do |status| %>
      <li><%= status.created_at %> : <%= status.player.member.user.screen_name %> : <%= status.status %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Invite player:</strong>
  <%= form_for(@game.players.build, url: organization_game_players_path(@game.organization, @game)) do |f| %>
    <div class="field">
      <%= f.label :member_id %><br>
      <%= f.select :member_id, @organization.members.reject{|m| @game.members.include?(m)}.map{|m| [m.user.name, m.id]} %>
    </div>
    <div class="actions">
      <%= f.submit 'invite player' %>
    </div>
  <% end %>
</p>

<p>
  <strong>Add game status:</strong>
  <%= form_for(@game.statuses.build, url: organization_game_statuses_path(@game.organization, @game)) do |f| %>
    <div class="field">
      <%= f.label :player_id %><br>
      <%= f.select :player_id, @game.players.reject{|p| p.id.nil? }.map{|p| [p.member.user.name, p.id]} %>
    </div>
    <div class="field">
      <%= f.label :status_id %><br>
      <%= f.select :status, [["Join the Game", 0], ["Win", 1], ["Lose", 2], ["Re-Buy", 3]] %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</p>

<div>
  <%= form_for(@game, url: organization_game_path(@game.organization, @game)) do |f| %>
    <%= f.hidden_field :is_closed, value: true %>
    <%= f.submit 'close game' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_organization_game_path(@game.organization, @game) %> |
<% if @organization %>
  <%= link_to 'Back', organization_games_path %>
<% end %>
